:root {
    --maintext-color: #d9d5c8;
    --text-color: #ffffffe8;
    --color-text: #e4e4e4;
    --p-color: #6e6e6e;
    --nav-height: 7.2rem;
    --primary-color: #006DDD;
    --secondary-color: #004388;
    --tertinary-color: #001326;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif, 'Times New Roman';
}

html {
    scroll-behavior: smooth;
}

body {
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}


/*Inicio*/
#home {
    overflow: hidden;
}

.wrapper {
    margin-inline: auto;
    padding-inline: 2.4rem;
    width: min(130rem, 100%);
}

.wrapper-home {
    margin-inline: auto;
    padding-inline: 2.4rem;
    width: min(130rem, 100%);
}

.banner {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .content {
    display: flex;
    gap: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    padding-block: 10rem;
}

#home .content .text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#home .content .text .paragraphy p {
    font-size: 2rem;
    font-weight: 200;
    color: #d8d8d8;
    font-family: sans-serif;
    letter-spacing: -2px;
    position: relative;
    right: 246px;
}

#home .content .text h1 {
    position: relative;
    font-family: Code Pro LC, sans-serif;
    font-size: 7rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke: 1px #ffffffe8;
    -webkit-text-fill-color: transparent;
    display: flex;
    bottom: 40px;
}

.social-links div {
    display: flex;
    align-items: center;
    gap: 3rem;
    /* top: 100px;*/
    font-size: 20px;
}

.social-links i {
    font-size: 40px;
    position: relative;
    font-weight: 100;
    color: white;
    display: inline;
    letter-spacing: 20px;
    left: 290px;
    bottom: 50px;
    filter: drop-shadow(1px 2px 10px #ffffff);
}

a#scrollBtn {
    position: absolute;
    height: 4em;
    width: 2.20em;
    border: 2px solid #ffffff;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 10rem;
    border-radius: 3rem;
}

a#scrollBtn:before {
    position: absolute;
    content: "";
    margin: auto;
    left: 0;
    right: 0;
    height: .7rem;
    width: .7rem;
    background-color: white;
    border-radius: 50%;
    animation: moveDown 2s infinite;
}

@keyframes moveDown{
    80%{
        opacity: 0.5;
    }
    100%{
        transform: translateY(3.3em);
        opacity: 0;
    }
}

.social-links {
    animation: float 3s linear infinite;
}

.social-links i:hover {
    /*filter: drop-shadow(4px 8px 20px #ffffff);*/
    filter: blur(1px);
    cursor: pointer;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(15px);
    }

    100% {
        transform: translateY(0);
    }
}

/*Projects*/
#projects {
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 3px );
    position: relative;
    text-align: center;
}

#projects header h2 {
    position: relative;
    color: var(--color-text);
    font-size: 2.7rem;
    justify-content: center;
    font-family: Code Pro LC; 
} 

#projects header p {
    font-family: Coolvetica; 
    font-size: 1.6rem;
    color: var(--p-color);
    font-weight: 200;
  }

  #projects header {
    margin-bottom: 8rem;
  }


/*Background*/
.bg {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg video {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    height: 100vh;
    filter: brightness(1.5);
}

#particles-js {
    background-color: transparent;
    opacity: .7;
    position: fixed;
    width: 100%;
    height: 100%;
    height: 100%;
    top: 0;
}

.bg-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

@media(min-aspect-ratio) {
    bg-clip {
        width: 100%;
        height: auto;
    }
}

@media(min-aspect-ratio) {
    .bg-clip {
        width: auto;
        height: 100%;
    }
}


/*scrollbar*/
::-webkit-scrollbar {
    width: 1px;
    background-color: transparent;
    border: 1px solid transparent;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 50px;
}